body {
    background-color:lightskyblue;
    background-image: 
    url("https://images.pexels.com/photos/338713/pexels-photo-338713.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 5rem;
    color: black;
    text-shadow: 5px 5px 10px gold;
    text-decoration: underline;
    border-radius: 1em;
}

p {
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cadetblue;
}

ul {
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    border: 5px solid beige;
}

#row2-section1 {
    text-align: centre;
}

#row3-section1 {
    text-align: right;
}

img {
border: 3px solid black;
}